.consultants {
    .consultant-search {
        width: 90%;
        margin: auto;

        button, input {
            border-radius: 3rem;
        }

    }

    .consultant-type {
        width: 90%;
        margin: auto;
        .consultant-list {
            width: 100%;
            overflow-y: hidden;
            overflow-x: scroll;
            .consultant {
                margin-right: 1rem;
                img {
                    height: 6rem;
                    width: 6rem;
                    border-radius: 0.5rem;
                    object-fit: cover;
                }

                p {
                    font-size: 0.6rem;
                }
            }
        }
    }

    .consultant-profile {
        width: 90%;
        margin: auto;

        img {
            width: 6rem;
            height: 6rem;
            object-fit: cover;
            margin: auto;
            border-radius: 100%;
        }
    }
}
